.App{
  text-align: center;
  display: flex;
  align-items: center;
}
table, tr, td {
  border: 1px solid black;
  width:100%
}
.containerDiv{
  width:50%;
  margin-left: 25%;
  text-align: center;
}
td{
  width:30%
}
tr :nth-child(even){
  background-color: aliceblue;
}
tr :nth-child(odd){
  background-color: aquamarine;
}
button{
  padding:1%;
  width:20%;
  margin:2%;
  background-color: darkgray;
  border:none;
  font-weight: bold;
  color:white

}
button:hover{
  cursor: pointer;
  color:darkgray;
  background-color: white;
}